{% extends "layout.html" %}

{% block body %}

<!-- <h2 style="color: cyan;">Contact Info</h2> -->
<h1 style="color: green;">##########################</h1>
<h1 style="color: green;">##########################</h1>
<h1 style="color: green;">##########################</h1>
<h1 style="color: red;">##########################</h1>
<h1 style="color: red;">##########################</h1>
<h1 style="color: red;">##########################</h1>
<h1 style="color: blue;">##########################</h1>
<h1 style="color: blue;">##########################</h1>
<h1 style="color: blue;">##########################</h1>

{% endblock %}