{% extends "layout.html" %}

{% block body %}

<div class="container">
    <h1 class ="text-center" style="color: red;">Information</h1>
    <p class="text-center">Names Bond, James Bond</p>
</div>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h4 class="text-center" style="color: green;">Working Experience</h4>
        </div>
        <div class="card-body">
          <h5 class="card-title">Game Of Thronse</h5>
          <strong>Content Viewer</strong>
          <p class="card-text">Jan 2015 - Present</p>
          <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Episode Watching</li>
              <li class="list-group-item">Review Writting</li>
              <li class="list-group-item">Keyboard Warrior on Twitter</li>
            </ul>
          </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Person Of Interest</h5>
            <strong>Content Viewer</strong>
            <p class="card-text">Jan 2015 - Present</p>
            <div class="card" style="width: 18rem;">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Episode Watching</li>
                <li class="list-group-item">Writting Review</li>
                <li class="list-group-item">Keyboard Warrior on Twitter</li>
              </ul>
            </div>
        </div>
      </div>
</div>

<div class="container">
    
        <div class="card">
            <div class="card-header">
                <h4 class="text-center" style="color: green;">Skills</h4>
            </div> 
            
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Programming Langulage</h5>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Framework</h5>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                      </div>
                </div>

            </div>

            
        </div>
    
</div>


{% endblock %}